.page {
  background-image: url(../img/olas.gif);
  background-size: cover;
  color: black;
  min-height: 100vh;
}
.absoluteCenter {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;
  flex-direction: column;
}
.withNavBar{
  min-height: calc(100vh - 4.1rem);
}
.content {
  background: linear-gradient(#08546c, #022534);
  min-height: 100vh;
  border-color: black;
  
}
.withNavBar .content {
  margin-top:0.1rem;
  min-height: calc(100vh - 4.2rem);
}

.refresh{
  color: black;
  font-size: x-large;
}

.labelText{
  font-size: xx-large;
  color: whitesmoke;
}